/*------------------------------------------
  Styles
------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}
.items {
  position: relative;
  width: 80vw;
  margin: 0 auto;
  margin-bottom:50px;
  background-color: blue;
  & > * {
    width: 25%;
    overflow: hidden;
    transition: all 0.3s ease-in-out 0s;
    @media (max-width: 1440px) {
      width: calc(100 / 3 * 1%);
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}
.parade {
  height: 800px;
}
.cram > * {
  position: absolute;
}